/* section-form */
.section-form-container {
  background-color: #e9e9e9;
  padding-top: 38px;
  padding-bottom: 71px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 15px;
}
.heading-form {
  margin-bottom: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}
.container-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 32px 28px;
  border-radius: 15px;
}
.container-form-group {
  display: flex;
  flex-direction: column;
}
.btn-form {
  padding: 13px 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  max-height: 42px;
}
.section-form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  padding-bottom: 15px;
}
.section-form-inpout {
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  outline: none;
}

.section-form-inpout[type="number"] {
  border-bottom: 1px solid #cccccc;
  width: 120px;
}

.form {
  height: 568px;
  background-image: url(../img/form_back.jpg);
  background-size: cover;
  background-position: center;
}

.form__heading {
  font-size: 48px;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 65px;
}

.form__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:100px;
  align-items: center;
  justify-content: center;
}