
.hero {

		// .hero__container

		&__container {
		}

		// .hero__heading

		&__heading {
      margin-top: 50px;
      font-size: 35px;
      margin-bottom: 75px;
      font-weight: 700;
		}

		// .hero__cards

		&__cards {
      display: flex;
      gap: 20px;
      justify-content: space-between;
		}

		// .hero__cards-item

		&__cards-item {
      width: 20%;
      padding-top: 300px;
      border-radius: 5px;
      transition: all .3s ease;
      box-shadow: 0 0 15px #e0e0e0;
      &:hover {
        transform: scale(1.03);
      }
		}

		// .hero__cards-heading

		&__cards-heading {
      font-size: 24px;
      font-weight: 600;
		}

		// .hero__cards-text

		&__cards-text {
      display: inline-block;
      padding-left: 20px; 
      background-image: url(../img/home.svg);
      background-position: left center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
		}

    &__cards-content {
      padding: 20px;
    }
}

.piter {
  background-image: url(../img/piter.jpg);
  background-size: cover;
  background-position: center;
}

.hero__cards-content {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

.msk {
  background-image: url(../img/msk.png);
  background-size: cover;
  background-position: center;
}

.kazan {
  background-image: url(../img/kazan.jpg);
  background-size: cover;
  background-position: center;
}

.sochi {
  background-image: url(../img/sochi.jpeg);
  background-size: cover;
  background-position: center;
}


.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  padding: 20px;
  background-image: url(../img/home\ copy.svg);
  background-position: +10px center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  color: red;
  border: 1px solid red;
  font-weight: 600;
  padding-left: 35px;
  transition: all .3s ease;
  border-radius: 5px;
  &:hover {
    color: white;
    background-image: url(../img/home\ copy\ 2.svg);
    background-color: red;
  }
}

.header__container {
  padding: 20px 0   ;
}